*
!kilroy_face_discord/src/**
!kilroy_face_discord/tests/**
!kilroy_face_discord/pyproject.toml
!kilroy_face_discord/poetry.lock
!kilroy_face_discord/LICENSE
!kilroy_face_discord/README.md
!environment.yaml
!requirements.txt
!entrypoint.sh
